/*
  Name: Harry Cheng
  Date: 10/28/2025
  Section: CSE 154 AA

  This is the css file links to index.html. It applies a nature theme, so most of the color are
  mix of greenand blue, to better fit the logo of a blue husky.
*/

body {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  background-color: #00a6cfa9;
  color: #004E64;
}

h1 {
  margin-top: 5px;
}

main {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.5em;
  margin-top: 40px;
  padding: 5px;
  background-color: #25a18e89;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer em {
  font-weight: bold;
  font-style: italic;
}

canvas {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(3px);
}

.hidden {
  display: none;
}

.remind {
  background: rgba(231, 111, 81, 0.12); /* 淡橘紅 */
  border: 1px solid rgba(231, 111, 81, 0.6);
  color: #7a2b1a;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 6px 0;
}

#logo {
  object-fit: cover;
  height: 100px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}

#info-form {
  background-color: #9fffcabd;
  border-radius: 10px;
  padding: 10px;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75em;
}

#info-form h2 {
  margin-top: 0px;
}

#btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#chart-board {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#chart-board canvas{
  margin-top: 15px;
}